.env

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# IntelliJ / Android Studio
*.iml
.idea/

# Divers
.DS_Store
*.log
